<ng-component *ngIf="question.searching; else normalSelectBox">
  <input type="text"
  [placeholder]="question.placeholder || ''"
  [attr.aria-label]="question.label"
  matInput
  [disabled]="disabled"
  [formControl]="selectSearchControl"
  [matAutocomplete]="auto">
  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayFn">
    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
      {{ option.value }}
    </mat-option>
  </mat-autocomplete>
</ng-component>

<ng-template #normalSelectBox>
  <select [ngClass]="{'label-select': question.readonly}" [formControl]="selectBoxControl" [disabled]="disabled"  [required]="question.required || false">
    <option value="">Selecione una opción</option>
    <option *ngFor="let option of options" [value]="option.key">{{ option.value }}</option>
  </select>
</ng-template>

