header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--title-font-size);
  color: var(--primary-color);
  padding: 22px 0;

  .header-logo img{
    height: 33px;
  }


}

button{
  position: fixed;
  top: 20px;
  right: 20px;
}

