<ng-template #loader>
  <div class="loader">
    <div class="custom-loader"></div>
  </div>
</ng-template>


<div *ngIf="!loading; else loader" class="center-content full-width">
  <div>
    <img class="title-logo" src="assets/images/logotis.jpg">
    <h1>REGISTRO ÚNICO DE CONTRAPARTES</h1>

    <form (ngSubmit)="submit()">
      <section class="content" [formGroup]="form">

        <div class="content-row">
          <div class="content-col m-8">
            <p>Gracias por diligenciar el formulario. Por favor descárguelo, imprímalo y fírmelo. Luego adjúntelo en formato PDF</p>
          </div>
          <div class="content-col m-8">
            <a  class="button form-button" [href]="downloadLink" target="_blank">DESCARGAR FORMULARIO PARA FIRMA</a>
          </div>
          <div class="content-col m-8">
            <app-question
              formControlName="file" [question]="fileQuestion" ></app-question>
          </div>

        </div>

        <div class="content-buttons">
          <button [disabled]="form.invalid">CONTINUAR</button>
        </div>
      </section>
    </form>

  </div>

</div>
