.section-list{
  position: fixed;
  right: 0;
  top: 6rem;
  text-align: right;
  list-style: none;
  padding-right: 20px;
  padding-left: 0;
  margin: 0;
  line-height: 1.2;
  width: 300px;

  a{
    font-size: 13px;
    color: var(--font-color);
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;

    &:hover{
      color: var(--primary-color);
    }
  }

  .fail-section a{
    color: var(--alert-color);
  }

  .success-section a{
    color: var(--success-color);
  }
}
