<ng-template #loader>
  <div class="loader">
    <div class="custom-loader"></div>
  </div>
</ng-template>


<div *ngIf="!loading; else loader" class="main-content">
  <app-header [title]="titleForm"></app-header>
  <h1>CUESTIONARIO REPSE</h1>

  <form (ngSubmit)="submit()">
    <section class="content" [formGroup]="form">

      <div *ngFor="let section of mainForm.sections">
        <ng-container *ngIf="section.visible">
          <div *ngIf="section.title" class="section-title">{{ section.title }}</div>
          <div class="content-row">
            <ng-container *ngFor="let question of section.inputs">
              <div *ngIf="question.visible" class="content-col" [ngClass]="'m-'+(question.size || 8)">
                <ng-container *ngIf="question.data; else noFormField">
                  <app-question [formControlName]="question.data || ''"  [question]="question" ></app-question>
                </ng-container>
                <ng-template #noFormField>
                  <app-question [question]="question"></app-question>
                </ng-template>

              </div>
              <div *ngIf="question.break" class="break-row"></div>
            </ng-container>
          </div>
        </ng-container>

      </div>

      <div class="content-buttons">
        <button [disabled]="form.invalid">CONTINUAR</button>
      </div>
    </section>
  </form>

</div>
