<ng-container [formGroup]="form">
<div >
  <label *ngIf="question.label" [attr.for]="id" [ngClass]="{'full-label': question.size == 8}">{{question.label}}</label>

  <div [ngSwitch]="question.controlType">

    <p *ngSwitchCase="TypeControlQuestion.Paragraph" [ngStyle]="{'text-align': question.align }" [innerHTML]="question.value"></p>

    <input
      *ngSwitchCase="TypeControlQuestion.Text"
      [formControlName]="question.key"
      [id]="id"
      [type]="question.type">

    <input
      *ngSwitchCase="TypeControlQuestion.Date"
      [formControlName]="question.key"
      [id]="id"
      [type]="question.type">

    <input
      *ngSwitchCase="TypeControlQuestion.Email"
      [formControlName]="question.key"
      [id]="id"
      [type]="question.type">

    <input
      *ngSwitchCase="TypeControlQuestion.Percentage"
      [formControlName]="question.key"
      [id]="id"
      [type]="question.type">

    <select
      *ngSwitchCase="TypeControlQuestion.Dropdown"
      (ngModelChange)="handleChangeValue(question)"
      [attr.readonly]="question.readonly"
      [id]="id"
      [formControlName]="question.key">
      <option>Seleccione una opción</option>
      <option *ngFor="let opt of question.options" [value]="opt.key">{{opt.value}}</option>
    </select>

    <ng-container *ngSwitchCase="TypeControlQuestion.ChooseOption">
      <div class="input-choose-option">
        <label><input (ngModelChange)="handleChangeValue(question)" [name]="question.key" type="radio" value="1" [formControlName]="question.key"> Si</label>
        <label><input (ngModelChange)="handleChangeValue(question)" [name]="question.key" type="radio" value="2" [formControlName]="question.key"> No</label>
      </div>
    </ng-container>

    <ng-container *ngSwitchCase="TypeControlQuestion.File">
      <app-filebox-question [formControlName]="question.key"  ></app-filebox-question>
    </ng-container>

    <ng-container *ngSwitchCase="TypeControlQuestion.Document">
      <app-documentbox-question documentValidatorValidator  [formControlName]="question.key" ></app-documentbox-question>
    </ng-container>

    <ng-container *ngSwitchCase="TypeControlQuestion.ArrayGroup">
      <app-arraybox-question (ngModelChange)="handleChangeValue(question)" [form]="form" [arrayQuestion]="questionForm" [questions]="question.children" ></app-arraybox-question>
    </ng-container>


  </div>

  <ng-container *ngIf="question.controlType != TypeControlQuestion.ArrayGroup">
    <div class="error-message" *ngIf="!isValid" [title]="messageError">{{ messageError }}</div>
  </ng-container>

</div>
</ng-container>
